<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lin.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ceruleanstudios_trillian_android_initialapploadingscreen_111px_1135312_easyicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="api_s_1"
            android:value="com.lin.app.request.retrofit.AnXingApi" />
        <meta-data
            android:name="api_s_2"
            android:value="com.lin.app.request.retrofit.WeatherApi" />


        <activity
            android:name=".activity.TowActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/short_cut" />
        </activity>

        <activity android:name=".ui.activity.NavigationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>


        <!--<activity android:name="com.lin.app.activity.TowActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:alwaysRetainTaskState="true"/>-->

        <service
            android:name=".service.PostmanService"
            android:enabled="true"
            android:exported="true"
            android:process=":linhui">
            <intent-filter>
                <action android:name="com.lin.app.postman"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


    </application>

</manifest>