<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.l.ipc">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/linTheme"
        android:supportsRtl="true">
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".imp.PlanService"
            android:exported="true"
            android:process=":plan">
            <action android:name="com.l.ipc.imp.PlanService" />
        </service>


    </application>

</manifest>